/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

h1 {
  font-size: 48px;
}

/* CALC */
.calc {
  width: 410px;
  height: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.calc-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 398px;
  height: 153px;
  font-size: 48px;
}

.expression-display {
  text-align: right;
  padding: 0 15px;
  font-size: 20px;
  border: none;
}

.number-display {
  text-align: right;
  padding: 0 10px;
  font-size: 40px;
  border: none;
  }


.pad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  width: 100%;
  height: 284px;
}

.pad div {
  width: 95px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equal  {
  flex: 1;
}

/* COLOR THEME */
.color-theme {
  cursor: pointer;
  padding: 5px;
}

.dark-color-theme {
  display: none;
}

/* dark style */
.body.dark {
  background: #878787;
}


.dark h1 {
  color: white;
}

.dark .pad div:not(.number) {
  background: #474646;
  font-size: 18px;
}

.dark .number {
  background: #131313;
  font-size: 24px;
}

.dark .calc {
  background-color: #707070;
  color: white;
}

.dark .expression-display {
  background: #878787;
}

.dark .number-display {
  background: #878787;
}

@media (prefers-color-scheme: dark) {
  .body.dark {
    background: #878787;
  }

  .dark .calc {
    background-color: #707070;
    color: white;
  }

  .dark .expression-display {
    background: #707070;
    color: white;
  }
  
  .dark .number-display {
    background: #707070;
    color: white;
  }

  .pad div:not(.number) {
    background: #474646;
    font-size: 18px;
  }
  
  .number {
    background: #131313;
    font-size: 24px;
  }
}
/* light style */
.body.light {
  background: #EFEFEF;
}

.light .pad div:not(.number) {
  background: #B3B3B3;
  font-size: 18px;
}

.light .number {
  background: #FFFFFF;
  font-size: 24px;
}  

.light  .calc{
  background: #D3D3D3;
  color: black;
}

.light .expression-display {
  background: #D3D3D3;
}

.light .number-display {
  background: #D3D3D3;
}

@media (prefers-color-scheme: light) {
  .body.light {
    background: #EFEFEF;
  }
  
  .light .calc {
    background: #D3D3D3;
    color: black;
  }

  .light .expression-display {
    background: #D3D3D3;
  }
  
  .light .number-display {
    background: #D3D3D3;
  }  

  .pad div:not(.number) {
    background: #A9A9A9;
    font-size: 18px;
  }
  
  .number {
    background: #FFFFFF;
    font-size: 24px;
  }  
}

/* FOOTER */
.footer {
  padding: 30px 0 20px 0;
}